@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}

/* Hilangkan dropdown kamera QR Scanner */
#html5-qrcode-select-camera {
  display: none !important;
}

/* Hilangkan teks "Select Camera" */
#qr-reader span[style*="margin-right"] {
  display: none !important;
}
